<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applications.tinytonwe.drivermodificationappversion2" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DriverInfoApp.DriverInfoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:exported="true"
            android:name=".Camera.CameraActivity"
            android:label="@string/title_activity_camera"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:exported="true"
            android:name=".SendPicture.SendPictureActivity"
            android:label="@string/title_activity_validation"
            android:noHistory="true"
            android:parentActivityName=".DriverInfoApp.DriverInfoActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverInfoApp.DriverInfoActivity" />
        </activity>
        <activity
            android:exported="true"
            android:name=".ShowDriverInfo.SDIMainActivity"
            android:label="@string/title_activity_options"
            android:launchMode="singleTask"
            android:parentActivityName=".DriverInfoApp.DriverInfoActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverInfoApp.DriverInfoActivity" />
        </activity>

        <activity
            android:exported="true"
            android:name=".Camera.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:exported="true"
            android:name=".Main.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:exported="true"
            android:name=".ChargeCardApp.ChargeCardActivity"
            android:label="@string/title_activity_charge_card"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:exported="true"
            android:name=".ShowDriverInfo.SDIDrivingSessionActivity"
            android:label="@string/title_activity_sdidriving_session"
            android:parentActivityName=".ShowDriverInfo.SDIMainActivity">
        </activity>

        <!-- New Activities -->
        <activity
            android:exported="false"
            android:name=".AdminApp.AdminActivity"
            android:label="Admin Panel"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:exported="false"
            android:name=".AdminApp.EditChargeButtonActivity"
            android:label="Edit Button"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:exported="false"
            android:name=".ReportingApp.ReportingMenuActivity"
            android:label="Reports"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:exported="false"
            android:name=".ReportingApp.CardHistoryActivity"
            android:label="Card History"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:exported="false"
            android:name=".ReportingApp.DailyReportActivity"
            android:label="Daily Report"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:exported="false"
            android:name=".KioskApp.KioskHomeActivity"
            android:label="Kiosk"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:exported="false"
            android:name=".KioskApp.KioskPurchaseActivity"
            android:label="Purchase"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
    </application>

</manifest>
